
@import './reset.scss';
@import './list.scss';

.am-rmb {
  font-family: arial;
  font-style: normal;
  padding-right: 4px;
  color: red;
}

.yj-form {
  margin-left: -70px;
}

.yj-form-item {
  padding: 0 5px 5px 170px;
  zoom: 1;

  .yj-label {
    float: left;
    width: 170px;
    margin-left: -180px;
    padding-top: 5px;
    text-align: right;
    font-size: 14px;
  }

  .yj-form-text {
    display: inline-block;
    margin: 6px 0 0 0;
    font-size: 14px;
  }
}

.yj-header {
  font-size: 12px;
  letter-spacing: 2px;
  background: #0e90d2;
  color: #fff;
  text-align: center;
  box-shadow: 0 2px 1px #0e90d2;

  h1 {
    margin: 0.6rem 0;
  }
}

.yj-cp {
  color: #aaa;
}
