

.yj-header {
  font-size: 12px;
  letter-spacing: 2px;
  background: #0e90d2;
  color: #fff;
  text-align: center;
  box-shadow: 0 2px 1px #0e90d2;

  h1 {
    margin: 0.6rem 0;
  }
}

.yj-cp {
  color: #aaa;
}
