
@import './reset.scss';
@import './list.scss';
@import './pull.scss';

html,
body,
.yj-page {
  height: 100%;
}

.yj-header {
  position: fixed;
  top: 0;
  z-index: 99;
}

.yj-main {
  margin-top: 50px;
}

.am-rmb {
  font-family: arial;
  font-style: normal;
  padding-right: 4px;
  color: red;
}

.yj-form {
  margin-left: -70px;
}

.yj-form-item {
  padding: 0 5px 5px 170px;
  zoom: 1;

  .yj-label {
    float: left;
    width: 170px;
    margin-left: -180px;
    padding-top: 5px;
    text-align: right;
    font-size: 14px;
  }

  .yj-form-text {
    display: inline-block;
    margin: 6px 0 0 0;
    font-size: 14px;
  }
}

.yj-cp {
  color: #aaa;
}
