
.am-header {
  position: fixed;
  top: 0;
  z-index: 99;
}

.am-main {
  margin-top: 50px;
}

.am-header-default .am-header-nav > a {
  font-size: 20px;
}

.am-animation-delay-1 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.am-animation-delay-2 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.am-animation-delay-3 {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.am-animation-delay-4 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.am-animation-delay-5 {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.am-animation-delay-6 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
