
<!doctype html>
<html class="no-js">
<head>
  <%= require('html!./inc-meta.html') %>
</head>
<body>
  <div class="yj-page">
    <header class="am-header yj-header am-header-default">
      <div class="am-header-nav am-header-left">
        <a href="survey.html"><i class="am-icon-chevron-left"></i></a>
      </div>
      <h1 class="am-header-title">上传调查报告</h1>
      <div class="am-header-nav am-header-right">
        <a href="javascript:void(0)" id="submitBtn"><i class="am-icon-check"></i></a>
      </div>
    </header>

    <div class="yj-main">
      <div class="am-panel am-panel-default">
        <div class="am-panel-hd">
          现场调查信息
        </div>
        <div class="am-panel-bd">
          <div class="yj-form">
            <div class="yj-form-item">
              <label for="" class="yj-label">住宅情况:</label>
              <div class="yj-form-text" style="margin:0">
                <div class="am-form-group am-form-file">
                  <button id="up-house-btn" type="button"
                    data-am-loading="{spinner: 'circle-o-notch', loadingText: '正在处理图片...'}"
                    class="am-btn am-btn-danger am-btn-sm am-animation-slide-bottom">
                    <i class="am-icon-cloud-upload"></i> 选择要上传的图片
                  </button>
                  <input id="up-house" type="file" accept="image/*" multiple>
                </div>
                <div class="file-list" id="file-list-house" data-name="house"></div>
              </div>
            </div>
            <div class="yj-form-item">
              <label for="" class="yj-label">经营住址情况:</label>
              <div class="yj-form-text" style="margin:0">
                <div class="am-form-group am-form-file">
                  <button type="button" class="am-btn am-btn-danger am-btn-sm"
                    data-am-loading="{spinner: 'circle-o-notch', loadingText: '正在处理图片...'}">
                    <i class="am-icon-cloud-upload"></i> 选择要上传的图片
                  </button>
                  <input id="up-company" type="file" accept="image/*" multiple>
                </div>
                <div class="file-list" id="file-list-company" data-name="company"></div>
              </div>
            </div>
            <div class="yj-form-item">
              <label for="" class="yj-label">备注:</label>
              <div class="yj-form-text am-animation-slide-bottom am-animation-delay-1">
                <textarea class="" rows="5" id="remark-txa" placeholder="最多输入200个字符"></textarea>
              </div>
            </div>
            <div id="main"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= require('html!./inc-footer.html') %>
</body>
</html>
