
<!doctype html>
<html class="no-js">
<head>
  <%= require('html!./inc-meta.html') %>
</head>
<body>

  <header class="am-header am-header-default">
    <div class="am-header-nav am-header-left">
      <a href="withheld.html"><i class="am-icon-chevron-left"></i></a>
    </div>
    <h1 class="am-header-title">预扣款操作</h1>
  </header>

  <div class="am-main">
    <div class="am-panel am-panel-default">
      <div class="am-panel-hd">
        输入扣款金额
      </div>
      <div class="am-panel-bd">
        <form class="am-form" id="searchForm">
            <div class="am-form-group">
              <input type="text" class="" id="doc-ipt-cid-1" placeholder="扣款金额">
            </div>
            <p>
              <button id="smtBtn" type="submit"
                class="am-btn am-btn-primary am-btn-block am-animation-slide-bottom"
                data-am-loading="{loadingText: '正在扣款...'}">
                <i class="am-icon-submit"></i> 提交扣款
              </button>
            </p>
        </form>
      </div>
    </div>

    <div class="am-panel am-panel-default">
      <div class="am-panel-hd">
        贷款详细信息
      </div>
      <div class="am-panel-bd">
        <div class="yj-form">
          <div class="yj-form-item">
            <label for="" class="yj-label">借款人:</label>
            <p class="yj-form-text">YJS20150910000116</p>
          </div>
          <div class="yj-form-item">
            <label for="" class="yj-label">借据编号:</label>
            <p class="yj-form-text">LA20150910000116</p>
          </div>
          <div class="yj-form-item">
            <label for="" class="yj-label">身份证后四位:</label>
            <p class="yj-form-text">0116</p>
          </div>
          <div class="yj-form-item">
            <label for="" class="yj-label">还款日期:</label>
            <p class="yj-form-text">2016/01/16</p>
          </div>
          <div class="yj-form-item">
            <label for="" class="yj-label">总计应还:</label>
            <p class="yj-form-text"><span class="am-rmb">8571.85</span>元</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="am-modal am-modal-confirm" tabindex="-1" id="my-confirm">
    <div class="am-modal-dialog">
      <div class="am-modal-bd">
        确定扣款？
      </div>
      <div class="am-modal-footer">
        <span class="am-modal-btn" data-am-modal-cancel>取消</span>
        <span class="am-modal-btn" data-am-modal-confirm>确定</span>
      </div>
    </div>
  </div>

  <%= require('html!./inc-footer.html') %>
</body>
</html>
