
<!doctype html>
<html class="no-js">
<head>
  <%= require('html!./inc-meta.html') %>
</head>
<body>
  <div class="yj-page">
    <header class="am-header am-header-default" data-am-widget="header">
      <div class="am-header-nav am-header-left">
        <a href="index.html"><i class="am-icon-chevron-left"></i></a>
      </div>
      <h1 class="am-header-title">现场调查报告</h1>
    </header>

    <div class="am-main" id="wrapper" data-am-widget="list_news">

      <div class="am-list-news-bd">
        <!-- <div class="pull-action loading" id="pull-down">
          <span class="am-icon-arrow-down pull-label" id="pull-down-label">
            下拉刷新
          </span>
          <span class="am-icon-spinner am-icon-spin"></span>
        </div> -->
        <ul id="list-tmpl" class="am-list item-content am-padding-xs am-animation-slide-bottom">
          <li class="am-list-item-desced">
            <div class="am-list-item-text">
              正在加载内容...
            </div>
          </li>
        </ul>
        <div class="pull-action" id="pull-up">
          <span class="am-icon-arrow-down pull-label"
                id="pull-up-label"> 上拉加载更多</span>
          <span class="am-icon-spinner am-icon-spin"></span>
        </div>
      </div>
    </div>
  </div>

  <%= require('html!./inc-footer.html') %>
</body>
</html>
